@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<h2>Home</h2>
<h3>Welcome to Saturn</h3>
<a href="/home/dashboard">Account Dashboard</a>
<hr>
<h3>Server Stats</h3>
<p>Registered users: @ViewData["UserCount"]</p>
